
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&family=Kdam+Thmor+Pro&family=Lobster&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
    
}
.container{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    opacity: 0.5;
    background-size: cover;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .navbar-menu a{
    color: rgba(255, 255, 255, 0.97);
    font-size: 13px;
    font-weight: 100;
    padding: 12px 12px;
    border-radius: 2px;
    display: inline-block;
    transition: 0.4s;
    font-family:'Kdam Thmor Pro', sans-serif ;
      
  }
  .navbar-menu a:hover{
    background-color: #fff;
    color: #000;
  }
  .description{ 
   text-align: center; 
   line-height: 50px;
    color: white;
    padding-top: 15%;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    
   }
  .description h2{
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    line-height: 50px;
   }
   .description h1{
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    line-height: 70px;
    
   }
   button a{
     background-color: black;
     color:  rgba(255, 255, 255, 0.97);
    font-size: 13px;
    font-weight: 100;
    padding: 12px 15px;
    display: inline-block;
    transition: 0.4s;
    font-family:'Kdam Thmor Pro', sans-serif ;
    
      
   }
   button a:hover{
    background-color: #fff;
    color: #000; 
    cursor: pointer;
   }
   .about{
     text-align: center;
     color: aliceblue;
     padding-top: 5%;
     padding-bottom: 5%;
     font-size: 32px;
     opacity: 0.7;
     background-color: black;
     margin-left: 10%;
     margin-right: 10%;
   }
    .about h1,h3{
      font-family: 'Dancing Script', cursive;
      padding: 30px;
      text-decoration: underline overline white;
    }
    .about p{
      font-family: 'Fredericka the Great', cursive;
    }
    .img {
      padding: 20px;
      
      width: 320px;
      height: 300px;
      margin: 15px;
    }
    .cs{
      justify-content: center;
      display: flex;
      align-items: center;
      padding-top: 5%;
      font-size: 35px;
      color: #fff;
      padding-right: 10%;
      font-family: 'Fredericka the Great', cursive;
    }
    .ci{
      color: #fff;
      font-size: 20px;
      max-width: 500px;
      line-height: 65px;
      padding-left: 50px;
      opacity: 1;
    }
    .contactform textarea{
      background: white;
      color: black ;
      border: none;
      opacity:0.9 ;
      border-radius: 5px;
      resize: vertical;
      width: 100%;
      padding: 12px;
      font-size: 15px;
      min-height: 200px;
      max-height: 400px;
    }
    .contactform textbox{
      background: #fff;
      color: #000;
      border: none;
      padding: 12px;
      height: 50px;
      font-size: 15px;
      width: calc(50%-10px);
      border-radius: 5px;
    }
    .contactform h2{
      margin: bottom 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    .contactform .send-btn{
      background: brown;
      float: right;
      color: #fff;
      border: none;
      width: 120px;
      height: 40px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      text-transform: uppercase;
      transition: 00.4s;
      cursor: pointer;
      text-align: center;
      
    }
    .contactform .send-btn:hover{
      background: #3f000f;

    }
    .ci, .contactform{
      flex: 1;
    }
    .menu {
       padding: 25px 0 25px 0;
       color: #fff;
       text-align: center;
       

    }
    .section{
      padding: 25px 0 25px 0;
      text-align: center;
      font-size: 80px;
        font-family: 'Dancing Script', cursive;
        color: aliceblue;
      }
      .menurow {
       
        padding: 0 100px 0 100px;
         display: flex;
         flex-wrap: wrap;
      }
      .menucol {
        border: 1px solid black;
        background-color:white;
        margin: 5px;
        padding: 5px;
        color: #000;
        flex: 1;
        
      }
      .menucol h1{
        text-align: center;
        background-color: brown;
        color: white;
        padding: 5px;
        font-family: 'Fredericka the Great', cursive;
      
      }
      .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 5px;

      }
      .image  img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid brown;
      }
      .box{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin: 5px;
        text-align: center;
      }
      .image img:hover{
        transform: scale(0.9);
        transition: 00.4s;
      }
      
      

  
